
		<!-- slider -->
        <div class=" home-slider">			
				<article class="format-standard">
					
					<h2  class="post-heading"><%= @post.title %></h2>
					<div class="post-content"><%= @post.content	%><p><%= @post.created_at %></p></div>
					<div class="meta">
						<div class="user">by <%= User.find(@post.user_id).email %></div>
						<div class="categories">In <%= @post.category %></div>
					</div>
					<div>
					<%= toggle_like_button(@post, current_user)%>
					<%= @likes%>
					<!-- ENDS comments list -->
	        	</article>
	        	
	    </div>

